@model AllArticlesViewModel
@{
    var action = Context.Request.RouteValues["action"].ToString();
}

<div class="card col-md-6">
    <a asp-controller="Articles" asp-action="Index" asp-route-id="@Model.Id">
        <img class="card-img-top" src="@Model.ImageUrl" alt="@Model.Title">
    </a>
    <div class="card-body">
        <a asp-controller="Articles" asp-action="Index" asp-route-id="@Model.Id">
            <h5 class="card-title">@Model.Title</h5>
        </a>
            <a asp-controller="Articles" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-primary">View more...</a>
            @if (action == "Yours" || User.IsInRole("Admin"))
            {
                <a asp-controller="Articles" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>
                <a asp-controller="Articles" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
            }

    </div>
</div>