@model ArticlePageViewModel

@{
    ViewData["Title"] = Model.Category == null ? "All articles" : $"{Model.Category} articles";
    int articlesPerPage = 4;
    int? currentPage = Model.CurrentPage;
    double allPages = Model.Articles.Count / (double)articlesPerPage <= 1 ? 1 : Model.Articles.Count / (double)articlesPerPage;
}

<h2>@ViewData["Title"]</h2>

<div class="container d-flex">
    @if (Model.Category != null)
    {
        @if (Model.Category == "football")
        {
            <div class="col-md-4">
                <partial name="_FootballStandingsPartial" />
            </div>
        }
        else if (Model.Category == "tennis")
        {
            <div class="col-md-4">
                <partial name="_TennisRankingsPartial" />
            </div>
        }
    }

    @if (Model.Articles.Count == 0)
    {
        <h1>There aren't any articles so far</h1>
    }
    else
    {
        <div class="container">
            <div class="row">

                @foreach (var article in Model.Articles.Skip(((currentPage - 1) * articlesPerPage ?? 0)).Take(articlesPerPage))
                {
                    <partial name="_ArticlePartial" for="@article" />



                }
            </div>
        </div>

    }

</div>
<div class="pages">
    @for (int i = 1; i <= Math.Ceiling(allPages); i++)
    {
        <a asp-controller="Articles" asp-action="All" asp-route-page="@i" asp-route-category="@(Model.Category ?? "")">@i</a>
    }
</div>
