@model StandingsViewModel
@{
    string leagueName = Model.Response.Select(r => r.League.Name).First();
    string leagueLogoUrl = Model.Response.Select(r => r.League.Logo).First();
    var teamInfo = Model.Response.SelectMany(r => r.League.Standings).SelectMany(s => s);
    int teamId = (int)ViewData["teamId"];
}
<table>
    <tr>
        <th>Rank</th>
        <th>Team</th>
        <th>Points</th>
    </tr>
    @foreach (var info in teamInfo)
    {
        <tr class="@(info.Team.Id == teamId ? "bg-light" : "")">
            <td>@info.Rank</td>
            <td><img class="team-logo" src="@info.Team.Logo" /><span>@info.Team.Name</span></td>
            <td>@info.Points</td>
        </tr>
    }
</table>